In [256]:
from datetime import datetime
from datetime import datetime, timedelta
import calendar
import time
import pandas as pd
import numpy as np


def cove_time(ts,mins,sec,test_data):
    # convert to datetime
    dt = datetime.fromtimestamp(ts/ 1000)
    start_minute, start_sec = dt.minute, dt.second
    print(start_minute, mins, type(start_sec), type(sec))
    result = dt + timedelta(minutes=mins-start_minute, seconds=sec-start_sec)
    print("The date and time is:", dt)
    print("after addtion",result)
    ts = result.timestamp()
    print("Current timestamp:", ts)
    start_with_timestamp = str(int(ts))
    test_data["ts_unix"] = test_data["ts_unix"].apply(str)
    file1 = open("new_data.txt", "a")  # append mode
    df = test_data[test_data["ts_unix"].str.startswith(start_with_timestamp)]
    
    print(df)
    print(type(df))
    print(df.shape)
    mid=int(df.shape[0]/2)
    print(mid)
    print(df.iloc[mid,:].values)
    x=df.iloc[mid,:].values
    print(x.shape)
    x[0]=int(x[0])
    print(x[0])
    #content = str(df.iloc[mid,:].values)
    
    #x=df.iloc[mid,0].values
    print(type(int(x[0])))
    file1.write("\n")
    #file1.write(df.iloc[mid,:].values )
    file1.write("%d" %x[0]+",")
    file1.write("%f" %x[1]+",")
    file1.write("%f" %x[2])

In [257]:
st_min, st_sec = datetime.fromtimestamp(1668193924.776).minute, datetime.fromtimestamp(1668193924.776).second
int((datetime.fromtimestamp(1668193924.776) + timedelta(minutes=19-st_min, seconds=43-st_sec)).timestamp())

1668194383

In [258]:
test_df = pd.read_csv('/Users/afnanalofy/Desktop/299/new/ped-mapping-main/df_11.csv')
test_data = test_df[["ts_unix","lat","lon"]].copy()

ts = 1668193924776
m= [20,6,21,35,22,28,22,53,22,53,22,58,24,8,24,14,25,19,25,34,27,45,28,18,28,30,29,59,34,4,36,24,19,43]


for i in range(0,len(m)-1,2):
    k=cove_time(ts,m[i],m[i+1],test_data)



read_file = pd.read_csv ('new_data.txt')
headerList = ["ts_unix","lat","lon"]
read_file.to_csv ('new_data.csv', header=headerList, index=None)

12 20 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:20:06.776000
Current timestamp: 1668194406.776
            ts_unix        lat         lon
4465  1668194406085  32.870160 -117.241390
4466  1668194406214  32.870160 -117.241389
4467  1668194406386  32.870160 -117.241389
4468  1668194406474  32.870159 -117.241389
4469  1668194406601  32.870159 -117.241388
4470  1668194406690  32.870159 -117.241388
4471  1668194406817  32.870159 -117.241387
4472  1668194406956  32.870159 -117.241387
<class 'pandas.core.frame.DataFrame'>
(8, 3)
4
['1668194406601' 32.87015935637283 -117.24138821114336]
(3,)
1668194406601
<class 'int'>
12 21 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:21:35.776000
Current timestamp: 1668194495.776
            ts_unix        lat         lon
5111  1668194495085  32.865523 -117.243397
5112  1668194495277  32.865471 -117.243402
5113  1668194495449  32.865458 -117.243404
5114  1668194495535  32.865445 -117.243405
5115  1668194495665  32.865431 -117.243406
5116  1668194495752  32.865418 -117.243407
5117  1668194495880  32.865405 -117.243409
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194495535' 32.86544468079445 -117.2434050111289]
(3,)
1668194495535
<class 'int'>
12 22 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:22:28.776000
Current timestamp: 1668194548.776
            ts_unix        lat         lon
5504  1668194548123  32.859089 -117.246715
5505  1668194548208  32.859074 -117.246713
5506  1668194548337  32.859059 -117.246707
5507  1668194548468  32.859046 -117.246698
5508  1668194548554  32.859032 -117.246691
5509  1668194548684  32.859017 -117.246688
5510  1668194548811  32.859002 -117.246685
5511  1668194548941  32.858987 -117.246681
<class 'pandas.core.frame.DataFrame'>
(8, 3)
4
['1668194548554' 32.85903169921401 -117.2466913726143]
(3,)
1668194548554
<class 'int'>
12 22 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:22:53.776000
Current timestamp: 1668194573.776
            ts_unix        lat         lon
5693  1668194573174  32.854953 -117.245551
5694  1668194573305  32.854937 -117.245550
5695  1668194573483  32.854873 -117.245548
5696  1668194573612  32.854857 -117.245548
5697  1668194573741  32.854841 -117.245547
5698  1668194573873  32.854825 -117.245546
<class 'pandas.core.frame.DataFrame'>
(6, 3)
3
['1668194573612' 32.85485692423307 -117.2455477477088]
(3,)
1668194573612
<class 'int'>
12 22 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:22:53.776000
Current timestamp: 1668194573.776
            ts_unix        lat         lon
5693  1668194573174  32.854953 -117.245551
5694  1668194573305  32.854937 -117.245550
5695  1668194573483  32.854873 -117.245548
5696  1668194573612  32.854857 -117.245548
5697  1668194573741  32.854841 -117.245547
5698  1668194573873  32.854825 -117.245546
<class 'pandas.core.frame.DataFrame'>
(6, 3)
3
['1668194573612' 32.85485692423307 -117.2455477477088]
(3,)
1668194573612
<class 'int'>
12 22 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:22:58.776000
Current timestamp: 1668194578.776
            ts_unix        lat         lon
5729  1668194578006  32.854150 -117.245502
5730  1668194578178  32.854134 -117.245501
5731  1668194578305  32.854118 -117.245500
5732  1668194578434  32.854102 -117.245498
5733  1668194578565  32.854086 -117.245497
5734  1668194578654  32.854069 -117.245495
5735  1668194578780  32.854053 -117.245494
5736  1668194578957  32.853989 -117.245488
<class 'pandas.core.frame.DataFrame'>
(8, 3)
4
['1668194578565' 32.854085549598864 -117.24549678711664]
(3,)
1668194578565
<class 'int'>
12 24 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:24:08.776000
Current timestamp: 1668194648.776
            ts_unix        lat         lon
6251  1668194648140  32.850515 -117.251249
6252  1668194648269  32.850515 -117.251249
6253  1668194648358  32.850515 -117.251249
6254  1668194648444  32.850515 -117.251249
6255  1668194648618  32.850515 -117.251249
6256  1668194648776  32.850515 -117.251249
6257  1668194648907  32.850515 -117.251249
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194648444' 32.85051511297453 -117.251248985834]
(3,)
1668194648444
<class 'int'>
12 24 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:24:14.776000
Current timestamp: 1668194654.776
            ts_unix       lat         lon
6295  1668194654082  32.85052 -117.251247
6296  1668194654275  32.85052 -117.251247
6297  1668194654409  32.85052 -117.251247
6298  1668194654534  32.85052 -117.251247
6299  1668194654663  32.85052 -117.251247
6300  1668194654792  32.85052 -117.251247
6301  1668194654880  32.85052 -117.251247
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194654534' 32.85052016557179 -117.25124680053854]
(3,)
1668194654534
<class 'int'>
12 25 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:25:19.776000
Current timestamp: 1668194719.776
            ts_unix        lat         lon
6768  1668194719167  32.850500 -117.251253
6769  1668194719372  32.850501 -117.251254
6770  1668194719501  32.850500 -117.251254
6771  1668194719590  32.850500 -117.251254
6772  1668194719761  32.850500 -117.251255
6773  1668194719850  32.850500 -117.251255
<class 'pandas.core.frame.DataFrame'>
(6, 3)
3
['1668194719590' 32.850500439557976 -117.25125441799332]
(3,)
1668194719590
<class 'int'>
12 25 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:25:34.776000
Current timestamp: 1668194734.776
            ts_unix        lat         lon
6877  1668194734015  32.850504 -117.252005
6878  1668194734144  32.850505 -117.252013
6879  1668194734271  32.850505 -117.252021
6880  1668194734358  32.850505 -117.252030
6881  1668194734530  32.850505 -117.252038
6882  1668194734618  32.850505 -117.252047
6883  1668194734705  32.850505 -117.252055
6884  1668194734875  32.850506 -117.252064
<class 'pandas.core.frame.DataFrame'>
(8, 3)
4
['1668194734530' 32.85050505734953 -117.25203814180462]
(3,)
1668194734530
<class 'int'>
12 27 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:27:45.776000
Current timestamp: 1668194865.776
            ts_unix        lat         lon
7841  1668194865073  32.854307 -117.255641
7842  1668194865244  32.854312 -117.255641
7843  1668194865374  32.854316 -117.255641
7844  1668194865503  32.854321 -117.255641
7845  1668194865592  32.854326 -117.255640
7846  1668194865678  32.854330 -117.255640
7847  1668194865872  32.854349 -117.255639
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194865503' 32.854321037515966 -117.25564054170286]
(3,)
1668194865503
<class 'int'>
12 28 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:28:18.776000
Current timestamp: 1668194898.776
            ts_unix        lat         lon
8086  1668194898098  32.855143 -117.255417
8087  1668194898228  32.855145 -117.255411
8088  1668194898399  32.855147 -117.255405
8089  1668194898444  32.855149 -117.255399
8090  1668194898615  32.855150 -117.255393
8091  1668194898773  32.855158 -117.255370
8092  1668194898902  32.855159 -117.255364
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194898444' 32.85514863124515 -117.25539919042193]
(3,)
1668194898444
<class 'int'>
12 28 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:28:30.776000
Current timestamp: 1668194910.776
            ts_unix        lat         lon
8174  1668194910098  32.855354 -117.254861
8175  1668194910225  32.855354 -117.254859
8176  1668194910357  32.855354 -117.254858
8177  1668194910441  32.855354 -117.254856
8178  1668194910613  32.855354 -117.254854
8179  1668194910742  32.855353 -117.254852
8180  1668194910924  32.855353 -117.254846
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194910441' 32.85535363578382 -117.25485582865308]
(3,)
1668194910441
<class 'int'>
12 29 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:29:59.776000
Current timestamp: 1668194999.776
            ts_unix        lat         lon
8828  1668194999083  32.855311 -117.255003
8829  1668194999211  32.855313 -117.254998
8830  1668194999341  32.855315 -117.254992
8831  1668194999469  32.855317 -117.254987
8832  1668194999599  32.855320 -117.254982
8833  1668194999684  32.855322 -117.254978
8834  1668194999816  32.855324 -117.254973
8835  1668194999945  32.855325 -117.254968
<class 'pandas.core.frame.DataFrame'>
(8, 3)
4
['1668194999599' 32.855319516807064 -117.25498239853724]
(3,)
1668194999599
<class 'int'>
12 34 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:34:04.776000
Current timestamp: 1668195244.776

             ts_unix        lat         lon
10618  1668195244020  32.853293 -117.255709
10619  1668195244151  32.853287 -117.255710
10620  1668195244367  32.853263 -117.255711
10621  1668195244456  32.853257 -117.255711
10622  1668195244625  32.853252 -117.255712
10623  1668195244755  32.853246 -117.255712
10624  1668195244841  32.853241 -117.255713
10625  1668195244969  32.853236 -117.255713
<class 'pandas.core.frame.DataFrame'>
(8, 3)
4
['1668195244625' 32.85325191839524 -117.25571171344818]
(3,)
1668195244625
<class 'int'>
12 36 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:36:24.776000
Current timestamp: 1668195384.776
             ts_unix        lat         lon
11658  1668195384105  32.854062 -117.255727
11659  1668195384275  32.854061 -117.255725
11660  1668195384364  32.854060 -117.255723
11661  1668195384449  32.854058 -117.255721
11662  1668195384619  32.854057 -117.255719
11663  1668195384709  32.854056 -117.255717
11664  1668195384885  32.854055 -117.255715
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668195384449' 32.854058433493144 -117.25572092776022]
(3,)
1668195384449
<class 'int'>
12 19 <class 'int'> <class 'int'>
The date and time is: 2022-11-11 11:12:04.776000
after addtion 2022-11-11 11:19:43.776000
Current timestamp: 1668194383.776
            ts_unix        lat         lon
4294  1668194383069  32.870165 -117.241394
4295  1668194383200  32.870165 -117.241394
4296  1668194383286  32.870165 -117.241394
4297  1668194383418  32.870165 -117.241394
4298  1668194383588  32.870165 -117.241395
4299  1668194383717  32.870165 -117.241395
4300  1668194383844  32.870165 -117.241395
<class 'pandas.core.frame.DataFrame'>
(7, 3)
3
['1668194383418' 32.87016513417455 -117.24139448527193]
(3,)
1668194383418
<class 'int'>